.body {
    color: #0e101c;
    background-color: #dce3e8;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 120px;
    line-height: 90%;
}

.container {
    background-color: #f7f9fa;
    padding: 20px;
    margin: 0px 200px;
}

.search {
    line-height: 80%;
}

.head {
    color: #0e101c;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 70%;
}

.subhead {
    color: #0e101c;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 70%;
}

.divider {
    padding: 1px;
}

.header {
    text-align: center;
}

.headera {
    display:inline-block;
    margin: 10px;
    text-align: center;
    color: #212e4f;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration:none;
}

.headera:hover {
    display:inline-block;
    margin: 10px;
    text-align: center;
    color: #3d5375;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration:none;
}

.align {
    text-align: center;
}